<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208387542137-gg8hq6q3au2891je22qh0rlnccsghotn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208387542137-gg8hq6q3au2891je22qh0rlnccsghotn</string>
	<key>API_KEY</key>
	<string>AIzaSyCXo-TJLyKcowxGLE1lMxIRH5bFcKPhmJo</string>
	<key>GCM_SENDER_ID</key>
	<string>208387542137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spajam2022</string>
	<key>PROJECT_ID</key>
	<string>spajam2022</string>
	<key>STORAGE_BUCKET</key>
	<string>spajam2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208387542137:ios:28edaad7ac21e2bfa018a8</string>
</dict>
</plist>